<!--main footer-->
<div class="scroll-to-this" id="contact-section"></div>
<div class="footer">
  <img class="bg-image" src="../../../assets/Footer/Oval.png" alt="WeShield" />
  <div class="weshield-part">
    <a routerLink="/" class="logo">
      <img src="../../../assets/images/logo/logo1.svg" alt="WeShield" />
    </a>
    <p class="normal-text">
      Providing digital care and support for the manipulated with appropriate
      rehabilitation interventions.
    </p>
    <p class="normal-text">Get 24/7 undiluted support always.</p>
  </div>

  <div class="footer-part">
    <h3>Company</h3>
    <a routerLink="under" class="normal-text"><p>About Us</p></a>
    <a routerLink="under" class="normal-text"><p>Partnership</p></a>
    <a routerLink="under" class="normal-text"><p>Meet the Team</p></a>
    <a routerLink="under" class="normal-text"><p>FAQ & Support</p></a>
  </div>

  <div class="footer-part">
    <h3>Services</h3>
    <a routerLink="under" class="normal-text"><p>Support Groups</p></a>
    <a routerLink="under" class="normal-text"><p>Therapy session</p></a>
    <a routerLink="under" class="normal-text"><p>Blog</p></a>
    <a routerLink="under" class="normal-text"><p>Outreach</p></a>
  </div>

  <div class="footer-part">
    <h3>Resources</h3>
    <a routerLink="under" class="normal-text"><p>Articles</p></a>
    <a routerLink="under" class="normal-text"><p>Trending news</p></a>
    <a routerLink="under" class="normal-text"><p>Live sessions</p></a>
    <a routerLink="under" class="normal-text"><p>Events</p></a>
  </div>

  <div class="contact-part">
    <h3>Contact</h3>
    <a routerLink="under" class="normal-text">
      <p>
        <i class="fa-solid fa-location-pin">&nbsp;&nbsp;</i>+3G7, Tunis, Tunisia
      </p>
    </a>
    <a routerLink="under" class="normal-text">
      <p><i class="fa-solid fa-phone">&nbsp;&nbsp;</i>+216 20 481 768 CEO</p>
    </a>
    <a routerLink="under" class="normal-text">
      <p><i class="fa-solid fa-phone">&nbsp;&nbsp;</i>+216 58 551 848 CTO</p>
    </a>
    <a routerLink="under" class="normal-text">
      <p><i class="fa-solid fa-envelope">&nbsp;&nbsp;</i>weshield@world.com</p>
    </a>
  </div>
  <!-- <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Email..." aria-describedby="button-addon2" style="background-color: lightgray; color: #FFFFFF;">
              <button routerLink="under" class="btn btn-outline-secondary" type="button" id="button-addon2" style="background-color: #3A76EA; color: #FFFFFF;">add me</button>
            </div> -->
</div>

<div class="min-footer">
  <p class="copy-right">
    <span class="far fa-copyright"></span>
    2022 WeShield. All rights reserved.
  </p>
  <div class="social-media">
    <a href="https://www.linkedin.com/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://twitter.com/" target="_blank">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank">
      <i class="fa-brands fa-facebook"></i>
    </a>
  </div>
  <div class="language">
    <i class="fa-solid fa-earth-americas"></i>
    <span>English(en)</span>
    <i class="fa-solid fa-caret-down"></i>
  </div>
</div>
