<div class="complete">
  <div class="head">
    <img src="../../../assets/images/logo/logo1.svg" alt="WeShield" />
  </div>
  <div class="body">
    <img src="../../../assets/images/login/all_done_1.png" />
    <div class="done">
      <h2>Reset Complete</h2>
      <p>
        Your Password has been updated successfully. You may now use the new
        password to log in your account.
      </p>
      <button class="signin" (click)="contunue()">Continue</button>
    </div>
    <img src="../../../assets/images/login/all_done_2.png" />
  </div>
</div>
