<div class="complete">
  <div class="head">
    <img src="../../../assets/images/logo/logo1.svg" alt="WeShield" />
  </div>
  <div class="body">
    <img src="../../../assets/images/login/all_done_1.png" />
    <div class="done">
      <h2>Profile Complete</h2>
      <p>
        We have successfully created your new account and have sent an
        activation mail to the email you provided during registration. Please
        activate your account before you continue.
      </p>
      <button class="signin">Continue</button>
      <p class="resend_link">
        Didn’t receive the link? <a href="#">Resend link</a>
      </p>
    </div>
    <img src="../../../assets/images/login/all_done_2.png" />
  </div>
</div>
