@use "../assets/scss/media-queries.scss" as *;

.dashboard {
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sidebar {
  width: 17%;
  @include lt-lg {
    width: 0%;
  }
}

.content {
  width: 83%;
  @include lt-lg {
    width: 100%;
  }
}
