<div class="forget_pass">
  <div class="preview">
    <div class="container-girl">
      <h1 class="title">Don’t worry!</h1>
      <h1 class="title">We’ll Help you.</h1>
      <img
        class="girl_img"
        src="../../../assets/images/login/girl_laptop.png"
      />
    </div>
  </div>
  <div class="form">
    <div class="head">
      <a routerLink="/">
        <img class="logo" src="../../../assets/images/logo/logo1.svg" />
      </a>
    </div>
    <!-- FORM GROUP -->
    <form class="body" [formGroup]="forme" (ngSubmit)="onSubmit()">
      <!-- EMAIL INPUT -->
      <h2>Forget Password ?</h2>
      <p>
        Please enter a valid email address and your reset settings will be sent
        immediately.
      </p>
      <div
        class="input-group"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      >
        <div class="form-floating">
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <label>Email</label>
        </div>
      </div>
      <span *ngIf="submitted && f.email.errors" class="error-msg"
        >Email is required</span
      >
      <!-- EMAIL INPUT -->

      <!-- BUTTONS -->
      <div class="buttons_group">
        <button [ngClass]="['signin', disable]" class="signin">
          {{ disable === "" ? "Reset Password" : "verifying..." }}
        </button>
      </div>
      <p class="have_account">
        <a routerLink="/login">Back to sign in</a>
      </p>
      <!-- BUTTONS -->
    </form>
    <!-- FORM GROUP -->
    <div class="footer">
      <p class="have_account">
        Do you need any help ? <a routerLink="/services">Customer Support</a>
      </p>
    </div>
  </div>
</div>
