<div class="main">
  <img
    class="logo"
    src="../../../assets/images/logo/logo2.svg"
    alt="weshield"
    routerLink="/"
  />
  <div class="under-container">
    <div class="icons">
      <div class="icon">
        <i class="fa-solid fa-wrench"></i>
      </div>
      <div class="icon">
        <i class="fa-solid fa-triangle-exclamation"></i>
      </div>
      <div class="icon">
        <i class="fa-solid fa-gear"></i>
      </div>
    </div>
    <div class="texts">
      <h2>Under Maintenance</h2>
      <p>
        Our website is under maintenance. We will be back shortly with more
        awesome features.
      </p>
    </div>
  </div>
</div>
