<div class="forget_pass">
  <div class="preview">
    <div class="container-prev_img">
      <h1 class="title">Choose a new</h1>
      <h1 class="title">password.</h1>
      <img class="prev_img" src="../../../assets/images/login/big_guy.png" />
    </div>
  </div>
  <div class="form">
    <div class="head">
      <img class="logo" src="../../../assets/images/logo/logo1.svg" />
    </div>
    <!-- FORM GROUP -->
    <form class="body" [formGroup]="form_group" (ngSubmit)="onSubmit()">
      <h2>Create New Password</h2>

      <!-- PASSWORD INPUT -->
      <div
        class="input-group"
        [ngClass]="{ 'is-invalid': submitted && f.password1.errors }"
      >
        <div class="form-floating">
          <input
            [type]="showPass1 ? 'text' : 'password'"
            class="form-control"
            formControlName="password1"
            placeholder="password"
          />
          <label>Password</label>
        </div>
        <span class="input-group-text">
          <i
            *ngIf="!showPass1"
            (click)="HandlePassView1()"
            class="fa-sharp fa-solid fa-eye"
          ></i>
          <i
            *ngIf="showPass1"
            (click)="HandlePassView1()"
            class="fa-sharp fa-solid fa-eye-slash"
          ></i>
        </span>
      </div>
      <span *ngIf="submitted && f.password1.errors?.required" class="error-msg"
        >Please enter your password</span
      >
      <span *ngIf="submitted && f.password1.errors?.minlength" class="error-msg"
        >Password must be at least 6 characters</span
      >
      <!-- PASSWORD INPUT -->

      <!-- PASSWORD INPUT -->
      <div
        class="input-group"
        [ngClass]="{ 'is-invalid': submitted && !match }"
      >
        <div class="form-floating">
          <input
            [type]="showPass2 ? 'text' : 'password'"
            formControlName="password2"
            class="form-control"
            placeholder="confirm password"
            [ngClass]="{ 'is-invalid': submitted && !match }"
            (change)="handlePass2Change($event)"
          />
          <label>Password</label>
        </div>
        <span class="input-group-text">
          <i
            *ngIf="!showPass2"
            (click)="HandlePassView2()"
            class="fa-sharp fa-solid fa-eye"
          ></i>
          <i
            *ngIf="showPass2"
            (click)="HandlePassView2()"
            class="fa-sharp fa-solid fa-eye-slash"
          ></i>
        </span>
      </div>
      <span *ngIf="submitted && !match" class="error-msg"
        >Password not match</span
      >

      <!-- PASSWORD INPUT -->

      <!-- BUTTONS -->
      <div class="buttons_group">
        <button class="signin">Confirm</button>
      </div>
      <p class="have_account">
        <a routerLink="/login">Back to sign in</a>
      </p>
      <!-- BUTTONS -->
    </form>
    <!-- FORM GROUP -->
    <div class="footer">
      <p class="have_account">
        Do you need any help ? <a href="/">Customer Support</a>
      </p>
    </div>
  </div>
</div>
